<% if notice %>
  <div class="col-md-6 col-md-offset-3">
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  </div>
<% end %>

<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Show Title</h3>
	  </div>
	  <div class="panel-body">
	    <div class="form-group">
	    	<label>Title</label>
	    	<div class="form-field">
	  			<%= @title.title %>  		
	    	</div>
	    </div>
	  </div>
	  	<div class="panel-footer">
	    <%= link_to 'Edit', edit_title_path(@title), class: 'btn btn-primary' %>
		<%= link_to 'Back', titles_path, class: 'btn btn-default' %>
	  </div>
	</div>
</div>
